@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.light{
    height: 100px;
    margin: 2px;
}

.selected{
    
   box-shadow: 5px 5px 18px 18px #FFFD69;
  
}

.lights{
 width: 110px;
}